/* CSS PAGE VETEMENTS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* BLOC HEADER */
.promo{
    background:rgba(158, 123, 177, 0.8);
    color: white;
    font-size: 18px;
    text-align: center;
}
nav{
    /* border: 4px solid lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    /* border: 4px solid aqua; */
    width: 268px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 11px;
}

h1{
    /* border: 4px solid salmon; */
    font-size: 96px;
    height: 132px;
    font-family: 'Rubik One' , 'sans serif';
    color: black;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 31px;
}

/* BARRE MENU */
.menu{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 68px;
}
.titres{
    /* border: 4px solid salmon; */
    width: 602px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
}

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #E7A07A;
}

#forte{
    border-right: 1px solid #505050;
    padding-right: 35px;
}

#both{
    border-right: 1px solid #505050;
    padding-right: 47px;
}

#faible{
    border-right: none;
}

#search{
    width: 392px;
    height: 46px;
    background: #F6F6F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
    border: none;
    margin-right: 78px;
}


/* BARRE VETEMENTS */
.vêtements{
    /* border: 4px solid purple; */
    width: 474px;
    height: 38px;
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-right: 0;
    margin-left: 48px;
}


/* BARRE DES HOODIES*/
h3{
    font-family: 'Rubik', sans-serif;
    /* border: 4px solid orange; */
    width: 743px;
    height: 57px;
    font-size: 48px;
    font-weight: 400;
    color: black;
    margin-top: 35px;
    margin-left: 48px;
}


/* BARRE DES FILTRES */
.filtres{
    /* border: 4px solid lightblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 892px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 97px;
    margin-left: 274px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}


/* BLOCS 16 HOODIES */
img{
    display: block;
    max-width: 100%;
}
.grid{
    display: grid;
    grid-gap: 68px;
}
.galerieHoodies{
    /* border: 4px solid yellow; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 168px;
    margin-left: 168px;
    margin-bottom: 194px;
}

.hood{
    position: relative;
}
.nom, .prix{
    width: 225px;
    height: 30px;
    font-weight: 300;
    font-size: 14px;
    color: #F8F6F7;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 370px;

}


/* MEDIAS QUERIS */

@media (max-width: 800px){
    .galerieHoodies{
        grid-template-columns: 1fr 1fr;}
}

@media (max-width: 500px){
    .galerieHoodies{
        grid-template-columns: 1fr;}
}


/* FOOTER */

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER / FIN DE PAGE */
footer {
    height: 415px;
    background: #E7D0C4;
    padding-top: 41px;
    padding-left: 33px;
    padding-right: 33px;
    color: #F8F6F7;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}


.ReseauxApplis, .informations {
    width: 350px;
}

.ProgFidele {
    width: 371px;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h4 {
    height: 50px;
    width: 350px;
    border: 4px solid #F8F6F7;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* // 1 - LIVRAISON ET PAIEMENT // */
.informations {
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payeBloc {
    height: 73px;
}

.livrBloc {
    height: 95px;
}

.paiementFooter, .livraisonFooter {
    display: flex;
    justify-content: space-between;
    width: 245px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.logosPaiement {
    width: 280px;
}

.logosLivraison {
    width: 295px;
}



/* // 2 - PROGRAMME FIDELITE // */

li {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

.ProgFidele a {
    color: inherit;
    font-size: 24px;
}


/* // 3 - RESEAUX ET APPLIS // */
.ReseauxApplis {
    height: 291.9px;
    align-items: center;
}

.reseaux h4 {
    margin-bottom: 40px;
}

.applis {
    width: 259px;
    height: 90.9px;
}

.applis p {
    text-align: center;
    margin-bottom: 16px;
}
