* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header a {
    text-decoration: none;
}

section {
    font-family: 'Rubik';
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.gridPaye {
    display: grid;
    grid-gap: 100px;
}


/* BLOC HEADER */
.promo{
    background:rgba(158, 123, 177, 0.8);
    color: white;
    font-family: 'Rubik';
    font-size: 18px;
    text-align: center;
}
nav{
    /* border: 4px solid lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    /* border: 4px solid aqua; */
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 11px;
}

.pan{
    width: 30px;
    height: 30px;
}

h1{
    /* border: 4px solid salmon; */
    font-size: 96px;
    height: 132px;
    font-family: 'Rubik One';
    color: black;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 31px;
}


/* TITRE */
.titrePaiement {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 70px;
    margin-left: 57px;
}

.paieContainer {
    display: flex;
    justify-content: space-evenly;
    /* gap: 150px; */
    grid-template-columns: 1fr 1fr;
}


/* CHECKBOXs */
.carteSauvegardee, .carteNouv, .payPal {
    background: #F8F6F7;
    margin-bottom: 20px;
    width: 650px;
    margin-left: 25px;
}

.carteSauvegardee, .nouvCheckbox, .payPal {
    height: 70px;


}

.carteSauvegardee, .nouvCheckbox, .paypalCheckbox, .ChoixSave {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.carteSauvegardee input, .nouvCheckbox input, #paypalCard, .ChoixSave input {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: 21px;
}

.carteSauvegardee label, .nouvCheckbox label, .payPal label, .ChoixSave label  {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}

.formPay{
    padding-left: 10px;
}

/* PAIEMENT OPTIONS */
.carteNouv {
    width: 650px;
    height: 700px;
    background: #F8F6F7;
}

.coordBank h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 10px;
}

#CardOwner, #CardNumber, #MonthExp, #YearExp, #Cryptogram {
    font-size: 18px;
    letter-spacing: 0.125em;
    border: none;
}

/* LOGOS CARTES BANCAIRES */
.logosCards {
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-left: 93px;
    margin-bottom: 40px;
}

/* COORDONNEES BANCAIRES */
.Titulaire, .NumCarte, .DateCrypto {
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 20px;

}

/* /TITULAIRE et NUMERO/ */

#CardOwner, #CardNumber {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    background: #FFFFFF;
}

/* /DATE EXPIRATION ET CRYPTOGRAMME */
.DateCrypto {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

#MonthExp, #YearExp {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background: #FFFFFF;
}

#Cryptogram {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background: #FFFFFF;
}

/* /MEMORISATION ET VALIDATION/ */

.validation {
    background: #0A0A09;
    width: 200px;
    height: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFEFE;
    margin-top: 50px;
    margin-left: 225px;
}

a {
    text-decoration: none;
}

.validation:hover{
    background-color: #AD8CB5;
    border: #AD8CB5;
}


/* PAYPAL */
.payPal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.payPal img {
    width: 125px;
    height: 50px;
    margin: 25px;
}

/* FINALISATION COMMANDE */
.FinalContainer {
    width: 400px;
    height: 300px;
    background: #F8F6F7;
}

.livraisonContain, .TOTAL {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 18px;
}

span {
    font-weight: 400;
}

hr {
    width: 400px;
    border: 3px solid #000000;
}


.finalC {
    width: 360px;
    height: 56px;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

/* FOOTER / FIN DE PAGE */
footer {
    height: 415px;
    background: #E7D0C4;
    padding-top: 41px;
    padding-left: 33px;
    padding-right: 33px;
    color: #F8F6F7;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}


.ReseauxApplis, .informations {
    width: 350px;
}

.ProgFidele {
    width: 371px;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h4 {
    height: 50px;
    width: 350px;
    border: 4px solid #F8F6F7;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* // 1 - LIVRAISON ET PAIEMENT // */
.informations {
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payeBloc {
    height: 73px;
}

.livrBloc {
    height: 95px;
}

.paiementFooter, .livraisonFooter {
    display: flex;
    justify-content: space-between;
    width: 245px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.logosPaiement {
    width: 280px;
}

.logosLivraison {
    width: 295px;
}



/* // 2 - PROGRAMME FIDELITE // */

li {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

.ProgFidele a {
    color: inherit;
    font-size: 24px;
}


/* // 3 - RESEAUX ET APPLIS // */
.ReseauxApplis {
    height: 291.9px;
    align-items: center;
}

.reseaux h4 {
    margin-bottom: 40px;
}

.applis {
    width: 259px;
    height: 90.9px;
}

.applis p {
    text-align: center;
    margin-bottom: 16px;
}