*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.article{
    display: flex;
    flex-direction: column;
    /* border: red 4px solid; */

}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/* BLOC HEADER */
header{
    /* border: 4px solid tomato; */
}
.promo{
    background:rgba(158, 123, 177, 0.8);
    color: white;
    font-size: 18px;
    text-align: center;
}
nav{
    /* border: 4px solid lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    /* border: 4px solid aqua; */
    width: 268px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 11px;
}

.hd{
    margin-top: 31px ;
    height: 132px;
}
.titre{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 40px;
margin-top: 118px;
margin-bottom: 33px;
margin-left: 72px;
}

.art{
    width: 60%;
    height: 997px;
    /* margin-left: 30px; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: red 4px solid;

    background: #F8F6F7;
    
}

.obm{
    background-color: white;
    /* width: 90%; */
    display: flex;
    /* border: red 4px solid; */
    border: red 4px solid;

    

}
.col{
    /* border: red 4px solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;  
    gap: 20px;  
    
}
.taille1{
    display: flex;
    gap: 10PX;
}
.r1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.cray{
    border: red 4px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cray img{
    width: 40px;
    height: 40px;
}

.op{
    border: red 4px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.toto{
    border: red 4px solid;
    width: 30%;
    background: #F8F6F7;
    padding: 20px;

}

.toto h2{
    font-weight: 500;
    font-size: 36px;
}

.toto .rp .ls .ad .st{
    font-weight: 400;
    font-size: 24px;
}

.btw{
    background-color: white;
    padding: 10px;
}

.nul{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nul div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.tie{
    border: red 4px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
}

.tie h2{
    font-weight: 500;
    font-size: 24px;
}

.tie p{
    font-weight: 500;
    font-size: 24px;
}

.el{
    background-color: #F8F6F7;
    width: 30%;
    height: 500px;
    margin-top: 150px;
    margin-left: 100px;
}

#bouton{
    width: 315px;
    height: 56px;
    background: black;
    font-weight: 400;
    font-size: 24px;
    color: white;
}
/* LIVRAISON */

.livraison-lune{
    border: 4px solid tomato;
    width: 846px;
    height: 373px;
    background: #F8F6F7;
    margin-left: 61px;
    margin-top: 124px;
}

.liv{
    display: flex;
    flex-direction: row;
    padding-top: 23px;
    padding-left: 24px;
    gap: 35px;
}

.liv h2{
    font-weight: 500;
    font-size: 48px;
    color: black;
}

.lun{
    width: 653px;
    height: 55px;
    background: white;
    width: 801px;
    height: 228px;
    margin-top: 30px;
    margin-left: 25;
}

.lun p{
    padding-left: 30px;
    padding-top: 25px;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-self: center;
}


/* TKT CA SERT */
.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* FOOTER / FIN DE PAGE */
footer {
    height: 415px;
    background: #E7D0C4;
    padding-top: 41px;
    padding-left: 33px;
    padding-right: 33px;
    color: #F8F6F7;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
}


.ReseauxApplis, .informations {
    width: 350px;
}

.ProgFidele {
    width: 371px;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h4 {
    height: 50px;
    width: 350px;
    border: 4px solid #F8F6F7;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* // 1 - LIVRAISON ET PAIEMENT // */
.informations {
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payeBloc {
    height: 73px;
}

.livrBloc {
    height: 95px;
}

.paiementFooter, .livraisonFooter {
    display: flex;
    justify-content: space-between;
    width: 245px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.logosPaiement {
    width: 280px;
}

.logosLivraison {
    width: 295px;
}



/* // 2 - PROGRAMME FIDELITE // */

li {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

.ProgFidele a {
    color: inherit;
    font-size: 24px;
}


/* // 3 - RESEAUX ET APPLIS // */
.ReseauxApplis {
    height: 291.9px;
    align-items: center;
}

.reseaux h4 {
    margin-bottom: 40px;
}

.applis {
    width: 259px;
    height: 90.9px;
}

.applis p {
    text-align: center;
    margin-bottom: 16px;
}